/*GERAL*/

.conteudo_catalogo {
    display: flex;
    gap: 35px;
    align-items: flex-start;
}

h1{
    color: #1351AA;
}

h2{
    color: #1351AA;
}

h3
{
    color: #1C4889;
    font-size: 16px;
    text-align: left;
    padding-bottom: 15px;
    font-weight: bold;
}

/* FILTRAGEM CONTÊINER*/

main
{
    flex-direction: column;
}
main  h1 {
    margin-bottom: 15px;
}
.filtro_conteiner
{
    display: flex;
    width: 25%;  
    flex-direction: column;
    gap: 25px; 
    margin-bottom: 25px;
}

.caixa_filtro
{
    background-color: white;
    border-radius: 12px;
    padding: 15px 0;
    width: 100%;
    box-sizing: border-box;
    padding: 25px;
}

.opcoes_tamanho
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
}

.opcao_tamanho {
    border: 1px solid #0069FF;
    font-size: 16px;
    color: #0069FF;
    font-weight: bold;
    padding: 15px 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.opcao_tamanho input {
    display: none;
}

.opcao_tamanho:has(input:checked) {
    background-color: #0069FF;
    color: white;
}

.select_filtro {
    position: relative;
    width: 100%;
}

.select_filtro select {
    width: 100%;
    height: 40px;
    padding: 0 40px 0 10px;
    border: 1px solid var(--cor_5);
    border-radius: 8px;
    color: var(--cor_2);
    font-size: 16px;
    cursor: pointer;
    appearance: none;
}

.select_filtro span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--cor_2);
    pointer-events: none;
}


.multiselect {
    position: relative;
}

.multiselect_titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid var(--cor_5);
    border-radius: 8px;
    cursor: pointer;

}

.multiselect_opcoes {
    border: 1px solid var(--cor_5);
    padding: 8px;
    margin-top: -1px;
    border-radius: 0 0 8px 8px;   
}

.multiselect[open] .multiselect_titulo {
    border-radius: 8px 8px 0 0;
}

.multiselect_opcoes label {
    display: block;
    padding: 10px;
    border-radius: 6px;
    text-transform: none;
}

.multiselect_opcoes label:hover {
    background-color: var(--cor_1);
}

.disponibilidade {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.disponibilidade input {
    width: 100%;
    box-sizing: border-box;
}

.disponibilidade span {
    color: var(--cor_2);
    font-size: 16px;
}


/* CARD CONTÊINERES*/


.lista_conteineres {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-content: start;
}

.card_conteiner {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    height: fit-content;
}

.card_conteiner img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.info_conteiner {
    padding: 15px;
    margin: 7px 0;
}

.info_conteiner b {
    display: block;
    font-size: 20px;
    color: #1351AA;
    margin-bottom: 6px;
}

.info_conteiner p {
    color: #1351AA;
    font-size: 18px;
}
.info_conteiner small {
    font-size: 14px;
    color: #757575;
}
