@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap');
/* impor para todos os arquivos css aqui, para facilitar o Import do Main e APP .jsx*/

@import url(estilo_cadastro&login.css);
@import url(detalhes_locacao.css);
@import url(cadastrar_conteiner.css);
@import url(deposito.css);
@import url(catalogo_locatario.css);
@import url(locacoes_locatario.css);
/* impor para todos os arquivos css aqui, para facilitar o Import do Main e APP .jsx*/

:root {
    --cor_0: #FFFFFF;
    --cor_1: #EFF6FF;
    --cor_2: #213156;
    --cor_3: #0284C7;
    --cor_4: #D0E5FF;
    --cor_5: #D9D9D9;

    --alugado: #29765C;
    --alugado_fundo: #DCFCE7;
    --pagamento_pendente: #307CD7;
    --pagamento_pendente_fundo: #DBEAFE;
    --disponível: #757575;
    --disponível_fundo: #C5C4C4;
    --em_manutenção: #EBB400;
    --em_manutenção_fundo: #FEF3C7;

}

* {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor_1);
}

/* ----- HEADER ----- */

header {
    padding: 35px 0px;
    margin-bottom: 45px;
    background-color: var(--cor_2);
}

a {
    text-decoration: none;
    color: var(--cor_0);
    font-size: 20px;
    font-weight: 400;
}

NavLink {
    text-decoration: none;
    color: var(--cor_0);
    font-size: 20px;
    font-weight: 400;
}

.pagina_ativa {
    padding: 10px;
    border-bottom: solid 2px;
}

nav a.active {
    padding: 10px;
    border-bottom: solid 2px;
}

header img {
    width: 220px;
}

span {
    color: var(--cor_2);
}

nav {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 65px;
}

.icones_header {
    margin-left: auto;
}

#icone_header {
    font-size: 40px;
    margin-left: 45px;
    color: var(--cor_0);
}

/* ----- TIPOGRAFIA ----- */

h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--cor_2);
}

h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--cor_2);
}

p {
    font-size: 16px;
    font-weight: normal;
    color: var(--cor_2);
}

b {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor_2);
}

/* ----- CONTEUDO ----- */

main {
    width: 90%;
    margin: auto;
}

section {
    background-color: var(--cor_0);
    border: solid 1px var(--cor_4);
    border-radius: 15px;
    padding: 25px;
}

.secao_titulo {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: solid 3px var(--cor_2);
    gap: 15px;
    margin-bottom: 25px;
}

.titulo_secao {
    margin-top: 5px;
}

#icone_secao {
    font-size: 45px;
    color: var(--cor_2);
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
}

summary {
    display: flex;
    cursor: pointer;
    gap: 8px;
}

#icone_seta {
    font-size: 16px;
    font-weight: 700;
    user-select: none;
}

details[open] #icone_seta {
    transform: rotate(180deg);
}

button {
    background-color: var(--cor_3);
    border: none;
    border-radius: 8px;
    padding: 22px 48px;
    font-size: 16px;
    font-weight: 650;
    text-transform: uppercase;
    color: var(--cor_0);
}

.segundario_button {
    background-color: var(--cor_0);
    border: solid 2px var(--cor_2);
    border-radius: 8px;
    height: fit-content;
    padding: 10px 20px 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 650;
    text-transform: uppercase;
    color: var(--cor_2);
}

.segundario_button span {
    font-size: 25px;
    position: relative;
    bottom: 2px;
}

/* ----- FORMULARIO -----*/

.grupo_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.input_grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cor_2);
}

input {
    border: solid 1px var(--cor_4);
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: normal;
    color: var(--cor_2);
}

select {
    border: solid 1px var(--cor_4);
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    font-weight: normal;
    color: var(--cor_2);
}

input:focus {
    outline: none;
}

.multiselect {
    position: relative;
}

.multiselect_titulo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid var(--cor_5);
    border-radius: 8px;
    cursor: pointer;

}

.multiselect_opcoes {
    border: 1px solid var(--cor_5);
    padding: 8px;
    margin-top: -1px;
    border-radius: 0 0 8px 8px;   
}

.multiselect[open] .multiselect_titulo {
    border-radius: 8px 8px 0 0;
}

.multiselect_opcoes label {
    display: block;
    padding: 10px;
    border-radius: 6px;
    text-transform: none;
}

.multiselect_opcoes label:hover {
    background-color: var(--cor_1);
}

/* ----- SITUAÇÕES ----- */

.situacao {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 3px 20px 0px 20px;
    height: 30px;
}

#pagamento_pendente {
    background-color: var(--pagamento_pendente_fundo);
    color: var(--pagamento_pendente);
}

#em_manutenção {
    background-color: var(--em_manutenção_fundo);
    color: var(--em_manutenção);
}

#alugado {
    background-color: var(--alugado_fundo);
    color: var(--alugado);
}

#disponível {
    background-color: var(--disponível_fundo);
    color: var(--disponível);
}









