.cadastrar_login_usuario{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container_cadastro_login{
    width: 48%;
}

.cadastrar_login_usuario  main{
    width: 55%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor_1);
    gap: 0;
}

.btnAncora{
  border: none;
  outline: none;
  color: var(--cor_2);
  cursor: pointer;
  align-self: flex-end;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.cadastrar_login_usuario  main img{
    width: 55%;
}

.cadastrar_login_usuario  main section{
    width: 90%;
    display: flex;
    flex-direction: column;
    border: none;
    outline: none;
    background-color: var(--cor_1);
    justify-content: space-between;
    margin: 0;
    padding: 15px;
}


.cadastrar_login_usuario main section div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
}

input[type=number] {
  -moz-appearance: textfield; 
  appearance: none;        
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio_tipoUsuario{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}