@import url('https://fonts.googleapis.com/css2?family=Josefin Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor_0: #FFFFFF;
    --cor_1: #EFF6FF;
    --cor_2: #06122E;
    --cor_3: #0284C7;
    --cor_4: #D0E5FF;
    --cor_5: #757575;

    --gap_1: 25px;

    --alugado: #29765C;
    --alugado_fundo: #DCFCE7;
    --pagamento_pendente: #307CD7;
    --pagamento_pendente_fundo: #DBEAFE;
    --disponível: #636363;
    --disponível_fundo: #C5C4C4;
    --em_manutenção: #EBB400;
    --em_manutenção_fundo: #FEF3C7;
    --inativo: #E2E2E2;
    --inativo_fundo: #555555;
}

* {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: var(--cor_2);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor_1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* -=-=- Menu -=-=- */

.menu {
    width: 100px;
    background-color: var(--cor_2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 10;
}

.menu_principal {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
}

.menu_usuario {
    display: flex;
    flex-direction: column;
    gap: 45px;
    align-items: center;
    margin-top: auto;
}

.menu img {
    width: 60px;
}

.menu span {
    font-family: 'Material Symbols Outlined';
    font-size: 2.2rem;
    color: var(--cor_0);
    font-weight: 300;
    cursor: pointer;
}

.menu_button {
    border-radius: 0px;
    background-color: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu_button:hover {
    background-color: #D9D9D94C;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: -10px 0px;
}

.pagina_ativa {
    background-color: #D9D9D94C;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin: -10px 0px;
}

/* -=-=- Tipografia -=-=- */

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: normal;
}

b {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

/* -=-=- Conteudo -=-=- */

main {
    width: calc(100% - 100px);
    margin-left: 100px;
}

.conteudo {
    margin: auto;
    padding: 30px;
}

footer {
    width: calc(100% - 100px);
    margin-top: auto;
    text-align: center;
    margin-left: 100px;
    padding: 25px 0px;
    user-select: none;
}

section {
    background-color: var(--cor_0);
    border: solid 1px var(--cor_4);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(6, 18, 46, 0.08);
}

.secao_titulo {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: solid 2px var(--cor_2);
    gap: 10px;
    margin-bottom: 25px;
    user-select: none;
}

.secao_titulo span {
    font-size: 1.5rem;
}

.titulo_secao {
    margin-top: 4px;
}

ul {
    list-style: none;
}

li {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-top: 25px;
}

summary {
    user-select: none;
    cursor: pointer;
}

/* -=-=- Formulario -=-=- */

.input_grupo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

input {
    border: solid 1px var(--cor_4);
    border-radius: 8px;
    padding: 12px;
    height: 16px;
}

input:focus {
    outline: none;
}

select {
    border: solid 1px var(--cor_4);
    border-radius: 8px;
    width: 100%;
    height: 42px;
    padding: 12px;
    cursor: pointer;
    appearance: none;
}

.select {
    position: relative;
}

.select span {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

select:focus {
    outline: none;
}

button {
    background-color: var(--cor_3);
    border: none;
    border-radius: 8px;
    padding: 18px 24px;
    color: var(--cor_0);
    text-transform: uppercase;
    font-weight: 650;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: translateY(-2px);
}

.button_segundario {
    background-color: transparent;
    color: var(--cor_2);
    border: solid 2px var(--cor_2);
    padding: 8px 10px 6px 12px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.button_segundario span {
    font-size: 1.2rem;
    position: relative;
    bottom: 1px;
}

/* -=-=- Situação -=-=- */

.situacao {
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 20px;
    padding: 8px 18px 4px 18px;
    height: fit-content;
    text-align: center;
}

.pagamento_pendente {
    background-color: var(--pagamento_pendente_fundo);
    color: var(--pagamento_pendente);
}

.em_manutenção {
    background-color: var(--em_manutenção_fundo);
    color: var(--em_manutenção);
}

.alugado {
    background-color: var(--alugado_fundo);
    color: var(--alugado);
}

.disponível {
    background-color: var(--disponível_fundo);
    color: var(--disponível);
}

.inativo {
    background-color: var(--inativo_fundo);
    color: var(--inativo);
}

@media screen and (max-width: 1280px) {
    :root {
        --gap_1: 15px;
    }
}

@media screen and (max-width: 1024px) {}