/*FILTRAGEM LOCAÇÕES*/

.filtro_locacao
{
    margin: 35px auto;
    justify-content: flex-end;
    width: 100%;
    gap: 30px;
    
}

.opcao_filtro_locacao
{
    color: var(--cor_2);
    font-weight: bold;
    background-color: var(--cor_4);
    border-radius: 10px;
    padding: 25px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
}

.opcao_filtro_locacao input{
    display: none;
}

.opcao_filtro_locacao:has(input:checked) {
    background-color: #0069FF;
    color: white;
}

/* CARD CONTÊINERES*/

.lista_locacoes
{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-content: start;
    margin: 50px 0px;
}

.card_locacao
{
    display: flex;
    border-radius: 10px;
}

.card_locacao img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.info_locacao
{
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: space-between;
}

.info_locacao h1{
    font-size: 30px;
    margin: 5px 0;
    font-weight: bold;
}

.info_locacao p
{
    font-size: 14px;
}